{
  "extends": [
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "react-hooks",
    "jest"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "jest/expect-expect": 0,
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "no-restricted-syntax": [
      "error",
      {
        "selector": "ExportDefaultDeclaration",
        "message": "Restricted default export, prefer named exports!"
      }
    ],
    "no-console": [
      "warn",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "react/prop-types": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/display-name": 0
  },
  "parserOptions": {
    "sourceType": "module",
    "parser": "babel-eslint",
    "ecmaVersion": 2018
  },
  "overrides": [
    {
      "files": [
        "webpack.config.js"
      ]
    },
    {
      "files": [
        "*.test.jsx",
        "*.test.js"
      ]
    }
  ]
}